/*added new font --> same as BMWweb from adwerba*/
//@font-face {
//  font-family: "bmw_global_pro";
//  src: url('../resources/fonts/BMWGlobal_Pro_bold.ttf') format('truetype'),
//  url('../resources/fonts/BMWGlobal_Pro_light.ttf') format('truetype'),
//  url('../resources/fonts/BMWGlobal_Pro_reg.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}

.fs {
  //font-family: bmw_global_pro;
  .fs-disclaimer{
    font-size: 11px;
    color: #666666;
  }
  
	.fs-wrapper {
		//color: #00a523;
  	//margin-left: 5%; margin-right: 5%;
  }
  .fs-content {
		//color: #0A246A;
		//margin-left: 5%; margin-right: 5%;
  }
  .fs-cache {
    display: none;
    visibility: hidden;
    position: absolute;
    top: -9999px;
  }

  .fs-parallaxView {
		box-sizing: border-box;
    .fs-box {
      background: transparent no-repeat top center;
      border: none;
      padding-bottom: 25px;
      cursor:pointer;
      overflow: hidden;
      outline: none;
      margin-bottom: 20px;
      width: 100%;
      height: 65vh;
      min-height: 30%;
      position: relative;
    }

    .fs-clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    .fs-featureViewBtn {
      width: 200px;
      z-index: 10;
      position: relative;
      left: calc(50% - 100px);
      top: 20px;
    }
    .fs-parallax{
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      left: 0;
    }
    .fs-imgX1 {
      object-fit: cover;
      width: 120%;
      height: 150%;
      position: absolute;
      left:0;
      background: no-repeat top center;
      margin-top: -12%;
      margin-left: -2vw;
    }

    .fs-imgX2 {
      object-fit: cover;
      width: 120%;
      height: 150%;
      position: absolute;
      left:0;
      background: no-repeat top center;
      margin-top: -2vh;
      margin-left: -2vw;
    }

    .fs-imgX3 {
      object-fit: cover;
      width: 135%;
      height: 150%;
      position: absolute;
      left:0;
      background: no-repeat top center;
      // margin-top: -2vh;
      margin-left: -3vw;
    }

    .fs-left {
      float: left;
      width: 90%;
      height: calc(100% - 40px);
      position: relative;
    }
    .fs-right {
      float: right;
      width: 90%;
      height: calc(100% - 40px);
      position: relative;
    }
  }

  .fs-acc {
    box-sizing: border-box;
    .fs-acc-box {
      background: transparent no-repeat top center;
      border: none;
      padding: 0;
      //cursor:pointer;
      overflow: hidden;
      outline: none;
      margin-bottom: 50px;
      width: 100%;
      position: relative;
    }
    .fs-acc-clearfix::after {
      content: "";
      clear: both;
      display: table;
    }

    .fs-btn{
      width: 200px;
    }
    .fs-acc-img {
      margin: 0px;
      display: block;
      object-fit: cover;
      //overflow: hidden;
      width: 100%;
      height: 100%;
    }
    .fs-container-panel{
      width: 97%;
      //padding: 10px;
    }
    .fs-img-frame{
      margin-bottom: 10px;
    }
    .fs-container-panel h2 {
      //padding-top: 10px;
    }
    .fs-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #008CBA;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .7s ease;
    }
    .fs-panel{
      background-color: rgba(101,101,101,0.25); //$slick-image;
      border: 0px solid #000;
      border-radius: 0;
      margin: 0;
      margin-bottom: 5px;
    }
    .fs-panel-heading{
      background-color: white;
      border: 0.8px solid #000;
      border-radius: 0;
    }
    .fs-panel-title{
      text-decoration: none;
      margin-top: 10px;
    }
    .fs-panel-body{
    background-color: white;
    border: 0.8px solid #000;
    padding: 10px;
    }
    .fs-panel-heading a:focus i{
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      float: right;
      transition: .3s ease;
    }
    .fs-panel-heading a.collapsed i{
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      float: right;
      transition: .3s ease;
    }
    // .fs-panel-heading a i{
    //   transform: rotate(-45deg);
    //   -webkit-transform: rotate(-45deg);
    //   float: right;
    //   transition: .3s ease;
    // }
    i {
      border: solid black;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
    }
    .fs-i-right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      float: right;
    }
    .fs-i-down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      float: right;
    }
  }

	.fs-carousel {
    object-fit: cover;
    .fs-carousel-box {
      background: transparent no-repeat top center;
      border: none;
      outline: none;
      padding: 0;
      margin-bottom: 20px;
      width: 100%;
      // min-height: 60vh;
      //height: 60vh;
      //max-height: 120vh;
      //max-width: 1680px;
      vertical-align: center;
      //position: relative;
      overflow: hidden;
    }
    .fs-carousel-clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    .fs-btn{
      width: 200px;
    }

    .fs-carousel-divder-img {
      //height: 50%;
      overflow: hidden;
      padding: 0;
    }
    .fs-carousel-divder-text {
      //height: 50%;
      overflow: hidden;
      padding: 0;
    }
    .fs-carousel-text {
      //margin-top: 3rem;
      text-align: center;
    }
    .fs-carousel-inv {
      display: none;
      visibility: hidden;
      position: absolute;
      top: -9999px;
    }
    .fs-carousel-img{
      object-fit: cover;
      //object-position: 50% 50%;
      //margin-top: -20%;
      // display: flex; 
      // align-items: center;
      // justify-content: center;
    }

  }

  .fs-feature {
    .fs-box {
      background: transparent no-repeat top center;
      border: none;
      padding: 0;
      padding-bottom: 10%;
      //cursor:pointer;
      overflow: hidden;
      outline: none;
      margin-bottom: 20px;
      width: 100%;
      //width: 80vw;
      // height: 100vh;
      //position: relative;
    }
    .fs-clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .fs-feature-wrapper {
      width: 120%;
      //margin-top: -10%;
      //height: 100vh;
      margin-left: 10%;
      //position: fixed;
      // left: 0;
      // right: 0;
      //z-index: -1;
      //background-color: rgba(5, 205, 5, 0.8);
    }
    .fs-feature-wrapper-image {
      width: 100%;
      -webkit-animation-name: fadeIn;
      -webkit-animation-duration: 1s;
      animation-name: fadeIn;
      animation-duration: 1s;
      z-index: -10;
    }

    .fs-colorpanel {
      margin: 5% 0 0 5px;
      width: 10%;
      min-width: 85px;
      position: relative;
      top: 13vh;
      left: -6vw;
      //z-index: 5;
      display: block;
      cursor: pointer;
    }
    .fs-cpp {
      width: 100%;
      max-width: 150px;
      margin: 5px 10px 5px 0;
      background: rgba(255, 255, 255, 0.35);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }
    .fs-cpp_invisible{
      display: none;
      overflow: hidden;
      position: absolute;
      top: -1000px;
    }
    .fs-colorpanel_quer {
      margin: 5px 0 0 20%;
      position: relative;
      top: 4.5vh;
      left: -8vw;
      cursor: pointer;
      //z-index: 9;
    }
    .fs-cpp_quer {
      height: 30px;
      margin: 0 0 0 3px;
      background: rgba(255, 255, 255, 0.35);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
      //z-index: 9;
    }

    @keyframes fadeIn {
      0% { opacity: 0.1; }
      20% { opacity: 0.2; }
      40% { opacity: 0.5; }
      60% { opacity: 0.8; }
      80% { opacity: 0.9; }
      100% { opacity: 1; }
    }

    .fs-dropdown {
      position: relative;
      display: inline-block;
      z-index: 10;
    }
    .fs-dropdown-content {
      display: none;
      position: absolute;
      background: rgba(255, 255, 255, 0.5); /* white background with 30% opacity */
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 10;
      margin: -25px 0 0 -15px
    }
    #ddblock1{
      margin: -60px 0 0 -15px;
    }
    #ddblock3{
      margin: -45px 0 0 -15px;
    }
    .fs-dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      z-index: 10;
    }
    .fs-dropdown-content a:hover {
      background-color: #ddd;
      z-index: 10;
    }

    .fs-kreis:hover .fs-dropdown-content {display: block;}
    .fs-kreis:hover{
      width: 25px;
      height: 25px;
      border-radius: 50px;
      background-color: rgba(11, 78, 117, 0.8);
      box-shadow: 0 3px 15px rgba(255, 255, 255, 1);
      transition: .7s ease;
    }
    .fs-kreis {
      width: 25px;
      height: 25px;
      border-radius: 50px;
      background: rgba(46, 155, 218, 0.8);

      box-shadow: 0 3px 15px rgba(255, 255, 255, 1);
      z-index: 1; //3
      -webkit-animation-name: fadeIn;
      -webkit-animation-duration: 1s;
      animation-name: fadeIn;
      animation-duration: 1s;
    }
    .fs-punkterahmen{
      //border: 1px solid black;
      //z-index: 5;
      //z-index: 10;
      position: absolute;
    }
    .fs-target-btn {
      width: 200px;
      position: absolute;
      bottom: 10px;
      right: 150px;
      //z-index: -1;
    }
    .fs-back-btn {
      width: 150px;
      position: absolute;
      top: -20px;
      left: -50px;
      //z-index: 8;
    }
    #rahmenzwei {
      width: 100%;
      height: 100%;
      position: absolute;
      //background-color: rgba(219, 5, 5, 0.8);
    }
    #fpunkt1 {
      position: relative;
      top: 41%;
      left: 42%;
      //z-index: 3;
    }
    #fpunkt2 {
      position: relative;
      top: 55%;
      left: 19.5%;
      //z-index: 3;
    }
    #fpunkt3 {
      position: relative;
      top: 49%;
      left: 79%;
      //z-index: 3;
    }
    #fpunkt4 {
      position: relative;
      top: 50%;
      left: 57%;
      //z-index: -3;
    }

    #FCBWrapper {
      width: 52vw;
      min-width: 250px;
      margin-top: 18%;
      margin-bottom: 20%;
      background-color: rgba(196, 196, 196, 0.65);
      position: relative;
      top: 4vh;
      left: 8vw;
      padding: 5px;
      padding-top: 20px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 50;
    }
    #FCBContainer{
      padding: 0px;
    }

    #FeatureContentBlock{
      width: 45vw;
      min-width: 100px;
      margin-left: 1vw;
      padding-right: 5px;
      margin-top: 0;
      padding-left: 0;
    }
    #FCBPictures {
      width: 40%;
      margin: 0px, 5px, 5px, 5vw;
      min-width: 30px;
      padding: 0;
      padding-bottom: 10px;
    }
    #FCBTexts {
      margin: 0, 0, 5px, 5px;
      padding: 0;
      padding-left: 10px;
    }

    #FeatureViewText{
      max-width: 600px;
      margin-top: 10px;
    }

    .fs-FCBBild {
      visibility: visible;

    }
    .fs-FCBBild img{
      width: 100%;
    }
    .fs-FCBDescription {
      visibility: visible;
      padding-top: 10px;
    }

    .fs-FCBDescription p{
      max-width: 345px;
      margin-top: 10px;
    }
  
  .fs-FCBDescription h2{
    padding-top: 10px;
    max-width: 345px;
    }

    .fs-FCBinvisible {

      display: none;
      visibility: hidden;
      position: absolute;
      top: -1000px;
    }
  }

  .fs-garage {
    //TODO garage
  }

}