/*added new font --> same as BMWweb from adwerba*/
.fs .fs-disclaimer {
  font-size: 11px;
  color: #666666; }
.fs .fs-cache {
  display: none;
  visibility: hidden;
  position: absolute;
  top: -9999px; }
.fs .fs-parallaxView {
  box-sizing: border-box; }
  .fs .fs-parallaxView .fs-box {
    background: transparent no-repeat top center;
    border: none;
    padding-bottom: 25px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-bottom: 20px;
    width: 100%;
    height: 65vh;
    min-height: 30%;
    position: relative; }
  .fs .fs-parallaxView .fs-clearfix::after {
    content: "";
    clear: both;
    display: table; }
  .fs .fs-parallaxView .fs-featureViewBtn {
    width: 200px;
    z-index: 10;
    position: relative;
    left: calc(50% - 100px);
    top: 20px; }
  .fs .fs-parallaxView .fs-parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0; }
  .fs .fs-parallaxView .fs-imgX1 {
    object-fit: cover;
    width: 120%;
    height: 150%;
    position: absolute;
    left: 0;
    background: no-repeat top center;
    margin-top: -12%;
    margin-left: -2vw; }
  .fs .fs-parallaxView .fs-imgX2 {
    object-fit: cover;
    width: 120%;
    height: 150%;
    position: absolute;
    left: 0;
    background: no-repeat top center;
    margin-top: -2vh;
    margin-left: -2vw; }
  .fs .fs-parallaxView .fs-imgX3 {
    object-fit: cover;
    width: 135%;
    height: 150%;
    position: absolute;
    left: 0;
    background: no-repeat top center;
    margin-left: -3vw; }
  .fs .fs-parallaxView .fs-left {
    float: left;
    width: 90%;
    height: calc(100% - 40px);
    position: relative; }
  .fs .fs-parallaxView .fs-right {
    float: right;
    width: 90%;
    height: calc(100% - 40px);
    position: relative; }
.fs .fs-acc {
  box-sizing: border-box; }
  .fs .fs-acc .fs-acc-box {
    background: transparent no-repeat top center;
    border: none;
    padding: 0;
    overflow: hidden;
    outline: none;
    margin-bottom: 50px;
    width: 100%;
    position: relative; }
  .fs .fs-acc .fs-acc-clearfix::after {
    content: "";
    clear: both;
    display: table; }
  .fs .fs-acc .fs-btn {
    width: 200px; }
  .fs .fs-acc .fs-acc-img {
    margin: 0px;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .fs .fs-acc .fs-container-panel {
    width: 97%; }
  .fs .fs-acc .fs-img-frame {
    margin-bottom: 10px; }
  .fs .fs-acc .fs-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .7s ease; }
  .fs .fs-acc .fs-panel {
    background-color: rgba(101, 101, 101, 0.25);
    border: 0px solid #000;
    border-radius: 0;
    margin: 0;
    margin-bottom: 5px; }
  .fs .fs-acc .fs-panel-heading {
    background-color: white;
    border: 0.8px solid #000;
    border-radius: 0; }
  .fs .fs-acc .fs-panel-title {
    text-decoration: none;
    margin-top: 10px; }
  .fs .fs-acc .fs-panel-body {
    background-color: white;
    border: 0.8px solid #000;
    padding: 10px; }
  .fs .fs-acc .fs-panel-heading a:focus i {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: right;
    transition: .3s ease; }
  .fs .fs-acc .fs-panel-heading a.collapsed i {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    float: right;
    transition: .3s ease; }
  .fs .fs-acc i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px; }
  .fs .fs-acc .fs-i-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    float: right; }
  .fs .fs-acc .fs-i-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: right; }
.fs .fs-carousel {
  object-fit: cover; }
  .fs .fs-carousel .fs-carousel-box {
    background: transparent no-repeat top center;
    border: none;
    outline: none;
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
    vertical-align: center;
    overflow: hidden; }
  .fs .fs-carousel .fs-carousel-clearfix::after {
    content: "";
    clear: both;
    display: table; }
  .fs .fs-carousel .fs-btn {
    width: 200px; }
  .fs .fs-carousel .fs-carousel-divder-img {
    overflow: hidden;
    padding: 0; }
  .fs .fs-carousel .fs-carousel-divder-text {
    overflow: hidden;
    padding: 0; }
  .fs .fs-carousel .fs-carousel-text {
    text-align: center; }
  .fs .fs-carousel .fs-carousel-inv {
    display: none;
    visibility: hidden;
    position: absolute;
    top: -9999px; }
  .fs .fs-carousel .fs-carousel-img {
    object-fit: cover; }
.fs .fs-feature .fs-box {
  background: transparent no-repeat top center;
  border: none;
  padding: 0;
  padding-bottom: 10%;
  overflow: hidden;
  outline: none;
  margin-bottom: 20px;
  width: 100%; }
.fs .fs-feature .fs-clearfix::after {
  content: "";
  clear: both;
  display: table; }
.fs .fs-feature .fs-feature-wrapper {
  width: 120%;
  margin-left: 10%; }
.fs .fs-feature .fs-feature-wrapper-image {
  width: 100%;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
  z-index: -10; }
.fs .fs-feature .fs-colorpanel {
  margin: 5% 0 0 5px;
  width: 10%;
  min-width: 85px;
  position: relative;
  top: 13vh;
  left: -6vw;
  display: block;
  cursor: pointer; }
.fs .fs-feature .fs-cpp {
  width: 100%;
  max-width: 150px;
  margin: 5px 10px 5px 0;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); }
.fs .fs-feature .fs-cpp_invisible {
  display: none;
  overflow: hidden;
  position: absolute;
  top: -1000px; }
.fs .fs-feature .fs-colorpanel_quer {
  margin: 5px 0 0 20%;
  position: relative;
  top: 4.5vh;
  left: -8vw;
  cursor: pointer; }
.fs .fs-feature .fs-cpp_quer {
  height: 30px;
  margin: 0 0 0 3px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); }
@keyframes fadeIn {
  0% {
    opacity: 0.1; }
  20% {
    opacity: 0.2; }
  40% {
    opacity: 0.5; }
  60% {
    opacity: 0.8; }
  80% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }
.fs .fs-feature .fs-dropdown {
  position: relative;
  display: inline-block;
  z-index: 10; }
.fs .fs-feature .fs-dropdown-content {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  /* white background with 30% opacity */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin: -25px 0 0 -15px; }
.fs .fs-feature #ddblock1 {
  margin: -60px 0 0 -15px; }
.fs .fs-feature #ddblock3 {
  margin: -45px 0 0 -15px; }
.fs .fs-feature .fs-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 10; }
.fs .fs-feature .fs-dropdown-content a:hover {
  background-color: #ddd;
  z-index: 10; }
.fs .fs-feature .fs-kreis:hover .fs-dropdown-content {
  display: block; }
.fs .fs-feature .fs-kreis:hover {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: rgba(11, 78, 117, 0.8);
  box-shadow: 0 3px 15px white;
  transition: .7s ease; }
.fs .fs-feature .fs-kreis {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: rgba(46, 155, 218, 0.8);
  box-shadow: 0 3px 15px white;
  z-index: 1;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s; }
.fs .fs-feature .fs-punkterahmen {
  position: absolute; }
.fs .fs-feature .fs-target-btn {
  width: 200px;
  position: absolute;
  bottom: 10px;
  right: 150px; }
.fs .fs-feature .fs-back-btn {
  width: 150px;
  position: absolute;
  top: -20px;
  left: -50px; }
.fs .fs-feature #rahmenzwei {
  width: 100%;
  height: 100%;
  position: absolute; }
.fs .fs-feature #fpunkt1 {
  position: relative;
  top: 41%;
  left: 42%; }
.fs .fs-feature #fpunkt2 {
  position: relative;
  top: 55%;
  left: 19.5%; }
.fs .fs-feature #fpunkt3 {
  position: relative;
  top: 49%;
  left: 79%; }
.fs .fs-feature #fpunkt4 {
  position: relative;
  top: 50%;
  left: 57%; }
.fs .fs-feature #FCBWrapper {
  width: 52vw;
  min-width: 250px;
  margin-top: 18%;
  margin-bottom: 20%;
  background-color: rgba(196, 196, 196, 0.65);
  position: relative;
  top: 4vh;
  left: 8vw;
  padding: 5px;
  padding-top: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 50; }
.fs .fs-feature #FCBContainer {
  padding: 0px; }
.fs .fs-feature #FeatureContentBlock {
  width: 45vw;
  min-width: 100px;
  margin-left: 1vw;
  padding-right: 5px;
  margin-top: 0;
  padding-left: 0; }
.fs .fs-feature #FCBPictures {
  width: 40%;
  margin: 0px, 5px, 5px, 5vw;
  min-width: 30px;
  padding: 0;
  padding-bottom: 10px; }
.fs .fs-feature #FCBTexts {
  margin: 0, 0, 5px, 5px;
  padding: 0;
  padding-left: 10px; }
.fs .fs-feature #FeatureViewText {
  max-width: 600px;
  margin-top: 10px; }
.fs .fs-feature .fs-FCBBild {
  visibility: visible; }
.fs .fs-feature .fs-FCBBild img {
  width: 100%; }
.fs .fs-feature .fs-FCBDescription {
  visibility: visible;
  padding-top: 10px; }
.fs .fs-feature .fs-FCBDescription p {
  max-width: 345px;
  margin-top: 10px; }
.fs .fs-feature .fs-FCBDescription h2 {
  padding-top: 10px;
  max-width: 345px; }
.fs .fs-feature .fs-FCBinvisible {
  display: none;
  visibility: hidden;
  position: absolute;
  top: -1000px; }

/*# sourceMappingURL=style.css.map */
